// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background-color: rgb(255, 163, 163);
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

a{
  color: rgb(0, 81, 87);
  text-shadow: black;
  font-style: italic;
  text-decoration: none;
}
